<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">

      <div class="mx-3 my-5">
        <p class="mt-5 mb-2 fs-3 fw-bold">Compartir album</p>
        <input type="text" class="form-control mb-1" [(ngModel)]="userSearch" placeholder="Usuario destino">

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between"
              *ngFor="let usuario of usuarios | albumUserFilter: userSearch">
            <p>{{ usuario.nombre }}</p>
            <button type="submit" class="btn btn-primary" (click)="compartirAlbum(usuario.id)">Compartir</button>
          </li>
        </ul>

        <div *ngIf="(usuarios | albumUserFilter: userSearch).length === 0" class="alert alert-danger" role="alert">
          No hemos encontrado ningun usuario
        </div>

        <div class="row mt-4">
          <div class="col-6 text-end">
            <button class="btn btn-danger" (click)="cancelShare()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
